In [1]:
import pandas as pd
resp_df = pd.read_csv("C:/Users/Buddi/Documents/GitHub/Young people survey/responses.csv")
resp_df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [2]:
resp_df['Village - town'].value_counts()

city       707
village    299
Name: Village - town, dtype: int64

In [3]:
def village(series):
    if series == 'city':
        return 'town'
    else:
        return series

resp_df['Village - town'] = resp_df['Village - town'].apply(village)
        
resp_df['Village - town'].value_counts()

town       707
village    299
Name: Village - town, dtype: int64

In [4]:
resp_df['Village - town'].head()

0    village
1       town
2       town
3       town
4    village
Name: Village - town, dtype: object

In [5]:
def age_groups(series):
    if series < 20:
        return "15-19 yrs"
    elif 20 <= series < 25:
        return "20-24 yrs"
    elif 25 <= series:
        return "25-30 yrs"

resp_df['Age Group'] = resp_df['Age'].apply(age_groups)

resp_df['Age Group'].value_counts(sort=False)

20-24 yrs    480
15-19 yrs    426
25-30 yrs     97
Name: Age Group, dtype: int64

In [6]:
resp_df[['Age Group','Age']].head()

   Age Group   Age
0  20-24 yrs  20.0
1  15-19 yrs  19.0
2  20-24 yrs  20.0
3  20-24 yrs  22.0
4  20-24 yrs  20.0